<h1 class="text-center text-3xl font-bold mb-2 text-dark-title">Configuraciones de la comunidad</h1>
<ul class="bg-dark-background p-3 grid grid-cols-3 gap-3">
  @for (preset of presets; track $index) {
    <div>
      <span>{{preset.name}}</span>
      <div class="flex gap-3">
        <app-solid-button (click)="selectPreset(preset)" color="indigo">Utilizar</app-solid-button>
      </div>

    </div>
  } @empty {
    <span class="text-white">No existe ningun preset.</span>
  }
</ul>


<!-- Modal para seleccionar liga al utilizar preset -->
<p-dialog showHeader="false" [visible]="selectLeagueShowing" modal="true">
  <ng-template pTemplate="headless">
    <div class="bg-neutral-800 p-3">
      <h2>Selecciona una liga</h2>

      <ul class="grid grid-rows-5 p-3">
        @for (league of leaguesToSelect; track $index) {
          <li (click)="createChampionshipWithPreset(league!.id!, presetSelected!.id!)" class="hover:bg-neutral-700 bg-neutral-700/50 p-3 cursor-pointer">
            <span>{{league.name}}</span>
          </li>
        } @empty {
          <div>
            <span>No hay ninguna liga creada.</span>
            <app-solid-button (click)="goToCreateLeague()" routerLinkActive="router-link-active" >Crear liga</app-solid-button>
          </div>
        }
      </ul>
    </div>
  </ng-template>
</p-dialog>
