<div>
  @if (showLabel) {
    <label for="input-label" class="block text-sm font-medium mb-2 dark:text-white">{{label}}</label>
  }

  <input
    #input

    class="py-3 px-4 block border-gray-200 rounded-lg text-sm
    disabled:opacity-50 disabled:pointer-events-none
    focus:outline-neutral-400 outline-offset-0
    dark:bg-neutral-700 dark:text-neutral-400
    dark:placeholder-neutral-500
    outline-none"

    [className]="inputClass"
    [type]="type"
    [placeholder]="placeholder"
    [maxlength]="maxLength!"
    [value]="value"
    [disabled]="disabled"
    [required]="required"
    [readonly]="readonly"
    [autocomplete]="autocomplete"
    [pattern]=""
    [placeholder]="managePlaceholder()"
    [inputMode]="inputmode"
    [(ngModel)]="value"
    (ngModelChange)="writeValue($event)"
    (blur)="onReactiveBlur()"
    (input)="updateValue($event)"

    ngClass="inputClass"
    (input)="onInputChange($event)"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()"
    (keyup)="onInputKeyUp($event)"
    (keydown)="onInputKeyDown($event)"
  >
</div>
