<div class="w-96">
  <!--  Tabla  -->
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
            <thead>
            <tr>
            <tr>
              <th pSortableColumn="name">Nombre</th>
              <th pSortableColumn="name">Fecha de unión</th>
              <th></th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
              @for (member of ($members | async)!; track $index) {
                <tr>
                  <td>{{member.user.nickname}}</td>
                  <td>{{member.joinedAt | date}}</td>
                  <td>
                    <div class="flex gap-2">
                      <!-- Botón para kickear al miembro -->
                      <app-custom-button
                        (click)="kickMember(member.user.id!)"
                        color="red">
                        Kickear
                      </app-custom-button>

                      <!-- Botón para banear permanentemente al miembro -->
                      <app-custom-button
                        color="red"
                        (click)="showBanReason(member)"
                      >
                        Banear
                      </app-custom-button>
                    </div>

                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <app-custom-button color="blue" (click)="toggleSearch(true)">
    Invitar miembro
  </app-custom-button>
</div>

<p-dialog [(visible)]="searching">
  <ng-template pTemplate="headless">
    <app-search-users-bar
      (onUserSelect)="inviteUser($event)"
    />
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="banning">
  <ng-template pTemplate="headless">
   <div class="flex flex-col gap-3">
     <app-custom-text-input
       label="Razón del baneo"
       [(ngModel)]="banReason"
     />

     <div class="flex gap-3">
       <app-custom-button color="red" (click)="showBanConfirm()">Continuar</app-custom-button>
       <app-custom-button color="stone" (click)="banning = false">Cerrar</app-custom-button>
     </div>
   </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="banConfirm">
  <ng-template pTemplate="headless">
    <h1>El usuario ya no podrá entrar de nuevo a la liga, salvo que se le quite el baneo.</h1>
    <span>Razon: {{ banReason }}</span>
    <h2>¿Quieres continuar?</h2>
    <div class="flex gap-3">
      <app-custom-button color="stone">No</app-custom-button>
      <app-custom-button color="red" (click)="banMember(memberToBan!.user.id!)">Si</app-custom-button>
    </div>
  </ng-template>
</p-dialog>

