@if (leagues) {
  <section class="p-3 gap-3 rounded-2xl bg-dark-background flex flex-col w-full max-w-64 h-full">
    <div>
      <app-soft-button
        (click)="goToCreateLeague()"
        [class]="tooltipClasses"
        styleClass="w-[4rem] h-[4rem] text-lg text-center"
        color="pink"
      >
        <i class="fa-solid font-thin text-[0.7rem] fa-plus"></i>
      </app-soft-button>
      <app-tooltip
        text="Añadir liga"
      />
    </div>

    @for (league of leagues; track league.id) {
      <div [class]="tooltipClasses" (click)="goToLeague(league.id)">
        <app-image styleClass="size-[4rem] rounded-xl" [url]="league.picUrl!"/>
        @if (league.name) {
          <app-tooltip
            [text]="league.name"
          />
        }
      </div>
    }
  </section>

}
