@if (leagues !== undefined && leagues && globalHelper.getUserId()) {
  <section class="p-3 z-[999] gap-3 rounded-2xl fixed bg-dark-background flex flex-col w-full max-w-20 h-[calc(100%-7rem)]">
    <div class="flex flex-col justify-center items-center">
      <app-soft-button
        (click)="goToCreateLeague()"
        [class]="tooltipClasses"
        styleClass="w-[3rem] h-[3rem] text-lg text-center"
        color="pink"
      >
        <i class="fa-solid font-thin text-[0.7rem] fa-plus"></i>
      </app-soft-button>
      <app-tooltip
        text="Añadir liga"
      />
    </div>

    @for (league of leagues; track league.id) {
      @if (league) {
        <div [class]="tooltipClasses" (click)="goToLeague(league.id)">
          <app-image styleClass="size-[4rem] rounded-xl cursor-pointer opacity-100 transition-all hover:opacity-50" [url]="league.picUrl!"/>
          @if (league.name) {
            <app-tooltip
              [text]="league.name"
            />
          }
        </div>
      }
    }
  </section>

}
