
@if (currentCreatingState === creatingStates.BasicInfo) {
  @if (preset) {
    <app-basic-info-championship-form
      [preset]="preset"
      (basicDataCreated)="handleBasicDataCreated($event)"
    />
  } @else if (this.championship) {
    <app-basic-info-championship-form
      [championship]="championship"
      (basicDataCreated)="handleBasicDataCreated($event)"
    />
  }
}

@else if (currentCreatingState === creatingStates.Teams) {
  @if (preset) {
    <app-create-teams
      [preset]="preset"
      (teamsCreated)="handleTeamsCreated($event)"
    />
  } @else {
    <app-create-teams
      [championship]="championship"
      (teamsCreated)="handleTeamsCreated($event)"
    />
  }
}

@else if (currentCreatingState === creatingStates.ScoreSystem) {
  @if (preset) {
    <app-score-system-form
      [preset]="preset"
      [teams]="championship!.teams!"
      (scoreSystemCreated)="handleScoreCreated($event)"
    />
  } @else {
    <app-score-system-form
      [teams]="championship!.teams!"
      (scoreSystemCreated)="handleScoreCreated($event)"
    />
  }
}

@else if (currentCreatingState === creatingStates.SharePresetConfig) {
  <app-share-config-preset
    [championship]="championship"
    (ended)="handleAfterPresetShare()"
  />
}

@else if (currentCreatingState === creatingStates.Overview) {
  <app-champ-edit-overview
    [championship]="championship"
  />
}



