<form (submit)="createChampionship()" class="p-3 grid gap-2 grid-cols-3"
  #form="ngForm" [formGroup]="createChampionshipForm">

  <!-- Nombre -->
  <div class="mb-5">
    <label
      class="block mb-2 text-sm font-medium">Nombre</label>
    <input formControlName="name" type="text"
      class="input input-bordered w-full outline-none">
    @if (form.touched && form.invalid) {
    <label *ngIf="name.errors" class="text-sm text-red-600 dark:text-red-400">
      El nombre no es valido.
    </label>
    }
  </div>

  <!-- Descripción -->
  <div class="mb-5 col-span-2">
    <label
      class="block mb-2 text-sm font-medium">Descripción</label>
    <input formControlName="description" type="text"
      class="input input-bordered w-full outline-none">
    @if (form.touched && form.invalid) {
    <label *ngIf="description.errors"
      class="text-sm text-red-600 dark:text-red-400">
      La descripción no es valido.
    </label>
    }
  </div>
</form>

<div class="grid grid-cols-3">
  <!-- Sistema de puntuación -->
  <div class="flex flex-col gap-1 items-center max-w-sm m-3">
    <span>Sistema de puntuación</span>
    <!-- TODO: Extraer lista a componente generico -->
    <div class="border min-w-full border-neutral rounded-md p-3 join-vertical">
      <app-custom-search-input class="join-item" (onSearch)="searchCategories($event)" placeholder="Introduce el nombre de un sistema de puntuación" />
      <ul
        class="menu join-item mt-1 text-gray-200 min-h-sm overflow-y-scroll z-[1000] flex-col w-full items-center p-3 no-scrollbar">
        @if (categories$ | async; as res) {
          @for (category of res.data; track $index) {
            <li class="mr-4 grid place-items-center hover:bg-gray-400">
              {{category.name}}
            </li>
          } @empty {
            <p>No se han encontrado resultados.</p>
          }
        } @else {
          <div
            class="flex flex-col justify-center gap-1 items-center text-neutral">
            <i class="fa-solid fa-magnifying-glass fa-5x "></i>
            <span class="font-bold">Introduce alguna busqueda</span>
          </div>
        }
      </ul>
    </div>
  </div>

  <!-- Buscar categoria -->
  <div class="flex flex-col gap-1 items-center max-w-sm m-3">
    <span>Categoría</span>
    <!-- TODO: Extraer lista a componente generico -->
    <div class="border min-w-full border-neutral rounded-md p-3 join-vertical">
        <app-custom-search-input class="join-item" (onSearch)="searchCategories($event)" placeholder="Introduce el nombre de una categoria"/>
        <ul
          class="menu join-item mt-1 text-gray-200 min-h-sm overflow-y-scroll z-[1000] flex-col w-full items-center p-3 no-scrollbar"
        >
        @if (categories$ | async; as res) {
          @for (category of res.data; track $index) {
            <li class="mr-4 grid place-items-center hover:bg-gray-400">
              {{category.name}}
            </li>
          } @empty {
            <p>No se han encontrado resultados.</p>
          }
        } @else {
          <div class="flex flex-col justify-center gap-1 items-center text-neutral">
            <i class="fa-solid fa-magnifying-glass fa-5x "></i>
            <span class="font-bold">Introduce alguna busqueda</span>
          </div>
        }
      </ul>
    </div>
  </div>

  <!-- Buscar simuladores -->
  <div class="flex flex-col gap-1 items-center max-w-sm m-3">
    <span>Simulador</span>
    <!-- TODO: Extraer lista a componente generico -->
    <div class="border min-w-full border-neutral rounded-md p-3 join-vertical">
        <app-custom-search-input class="join-item" (onSearch)="searchSimulator($event)" placeholder="Introduce el nombre de un simulador"/>
        <ul
          class="menu join-item mt-1 text-gray-200 min-h-sm overflow-y-scroll z-[1000] flex-col w-full items-center p-3 no-scrollbar"
        >
        @if (simulators$ | async; as res) {
          @for (item of res.data; track $index) {
            <li class="mr-4 grid place-items-center hover:bg-gray-400">
              {{item.name}}
            </li>
          } @empty {
            <p>No se han encontrado resultados.</p>
          }
        } @else {
          <div class="flex flex-col justify-center gap-1 items-center text-neutral">
            <i class="fa-solid fa-magnifying-glass fa-5x "></i>
            <span class="font-bold">Introduce alguna busqueda</span>
          </div>
        }
      </ul>
    </div>
  </div>
</div>

<!-- Modal para la creación de rondas -->

<div class="border rounded-lg p-3 border-neutral">
  <div class="flex gap-4 overflow-x-scroll">
    @for (track of raceCalendar; track $index) {
    <div
      class="relative flex flex-col mt-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96">
      <div class="mx-3 mb-0 border-b border-slate-200 pt-3 pb-2 px-1">
        <span class="text-sm text-slate-500">
          Race {{$index + 1}}
        </span>
      </div>
      <div class="p-4 flex gap-3">
        <h5 class="mb-2 text-slate-800 text-xl font-semibold">
          {{track.name}}
        </h5>
        <h3>{{track.country}}</h3>
      </div>
    </div>
    } @empty {
    <p>Se debe añadir una carrera obligatoriamente.</p>
    }
  </div>
  <p-dialog contentStyleClass="bg-base-100" showHeader="false" styleClass="flex gap-1 bg-base-100" [(visible)]="addingRace" [modal]="true"
    dismissableMask="true">
    <div>
      <div>
        Circuito seleccionado
        <div class="card dark:bg-base-100 image-full w-96 shadow-xl">
          <div class="card-body">
            @if (roundTrackSelected) {
            <h2 class="card-title">{{roundTrackSelected.name}}</h2>
            <p>{{roundTrackSelected.country}}</p>
            } @else {
            <p>No se ha indicado ningun circuito</p>
            }
          </div>
        </div>
      </div>
      <div>
        <h2>Circuitos</h2>

        <!-- TODO: Extraer lista a componente generico -->
        <div class="border min-w-full border-neutral rounded-md p-3 join-vertical">
          <app-custom-search-input class="join-item" (onSearch)="searchTracks($event)" placeholder="Introduce el nombre de un simulador"/>
          <ul
            class="menu join-item mt-1 text-gray-200 min-h-sm overflow-y-scroll z-[1000] flex-col w-full items-center p-3 no-scrollbar"
          >
          @if (tracks$ | async; as res) {
            @for (item of res.data; track $index) {
              <li class="mr-4 grid place-items-center hover:bg-gray-400">
                {{item.name}}
              </li>
            } @empty {
              <p>No se han encontrado resultados.</p>
            }
          } @else {
            <div class="flex flex-col justify-center gap-1 items-center text-neutral">
              <i class="fa-solid fa-magnifying-glass fa-5x "></i>
              <span class="font-bold">Introduce alguna busqueda</span>
            </div>
          }
        </ul>
      </div>

     </div>
      <!-- Botones -->
      <div class="flex gap-1">
        <button class="btn"
          (click)="saveRoundAndContinue(roundTrackSelected!)">Guardar y crear
          otra ronda</button>
        <button class="btn btn-neutral"
          (click)="saveRoundAndClose(roundTrackSelected!)">Guardar y
          cerrar</button>
        <button class="btn ml-2 btn-error"
          (click)="addingRace = false">Cancelar</button>
      </div>
    </div>

    <div>
    </div>
  </p-dialog>

  <button (click)="addingRace = true" class="btn btn-neutral">
    Añadir carrera
  </button>
</div>

<button class="btn" (click)="createChampionship()">Create championship</button>
