<section class="flex flex-col h-full gap-12 justify-center items-center">
  <app-soft-button
    (click)="showSearch()"
  />

  <div class="grid p-3 rounded-2xl grid-cols-5 h-full w-full gap-3">
    @for (league of leagues; track league.id) {
      <div class="p-3 bg-dark-background flex flex-col w-full h-full">
        @if (league.picUrl) {
          <img [src]="league.picUrl" class="rounded-xl object-cover h-full w-full">
        }
        <span>{{league.name}}</span>
      </div>
    } @empty {
      <app-custom-empty
        title="No se han encontrado ligas"
      />
    }
  </div>
</section>

<p-dialog
  contentStyleClass="dark:bg-dark-mainbg backdrop-blur-sm"
  showHeader="false"
  styleClass="flex gap-1 dark:bg-dark-background"
  [(visible)]="searchingLeagues" [modal]="true"
  [dismissableMask]="true">
  <ng-template pTemplate="headless">
    <div>
<!--      <app-league-search-->
<!--        (onConfirm)="confirmCar($event)"-->
<!--      />-->
    </div>
  </ng-template>
</p-dialog>

