@if (strategy) {
  <section class="w-full h-full">
    @if (strategy.overall.raceTime && strategy.overall.raceLaps) {
      <div class="flex justify-center">
        <span class="font-extrabold text-xl">{{globalHelper.milisToTime(strategy.overall.raceTime)}}</span>
        <span>&nbsp;</span>
        <span class="text-bold text-xl">({{strategy.overall.raceLaps}} vueltas, {{strategy.overall.pitStopCount}} paradas)</span>
      </div>
    }
    <div class="flex justify-center items-center w-[80%] h-[calc(100vh-20rem)]">
      <canvas baseChart [data]="data!" type="line" [options]="chartOptions"> </canvas>
    </div>
  </section>
}
