<section class="m-9">
  <div>
    <h1 class="text-dark mb-2 text-center text-2xl font-semibold dark:text-white">Resumen del nuevo campeonato</h1>

    <div>
      <p class="text-dark mb-2 text-center text-xl text-neutral-50">{{championship?.name}}</p>
      <p class="text-dark mb-2 text-center text-md text-neutral-400">{{championship?.description}}</p>
    </div>

    <div>
      <!-- Lista de equipos -->
      <div
        class="rounded-md p-3 bg-neutral-800">

        <h2 class="text-dark mb-2 text-center text-2xl font-semibold dark:text-white">
          Equipos
        </h2>

        <div class="grid grid-cols-3 overflow-y-auto h-40 w-sm gap-3">
          @for (team of championship?.teams; track $index) {
            <div
              class="bg-neutral-700 flex gap-3 justify-center items-center p-3 h-20 rounded-md">
              <span>{{team.name}}</span>
              <div class="inline-flex items-center">
                <span
                  class="size-4 border-neutral-400 inline-block rounded-full me-2"
                  [ngStyle]="{'background-color': team.hexColor}"></span>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="p-3 rounded-md bg-neutral-800 mt-3">
        <h2 class="text-dark mb-2 text-center text-2xl font-semibold dark:text-white">
          Calendario
       </h2>

        <div class="grid grid-cols-5 gap-3 h-20">
          @for (race of championship!.calendar!; track $index) {
          <div class="p-3 rounded-md bg-neutral-700/50">
            {{race.name}}
          </div>
          } @empty {
          <span>No hay calendario disponible (error).</span>
          }
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-3">
      <div>
        <h2 class="text-dark mb-2 text-center text-2xl font-semibold dark:text-white">Sistema de puntuacion</h2>

        <div>
          <h3>Posiciones</h3>
          <div class="grid p-3 bg-neutral-800 grid-cols-5 gap-3 h-20">
            <div class="flex flex-col">
              <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                  <div class="overflow-hidden">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
                      <thead>
                      <tr>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Name</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Age</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Address</th>
                        <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Action</th>
                      </tr>
                      </thead>
                      <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                      <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">John Brown</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">45</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">New York No. 1 Lake Park</td>
                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                          <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 focus:outline-none focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400">Delete</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            @for (positionScore of championship!.scoreSystem?.positions; track $index) {
              <div class="rounded-md p-3 h-10 bg-neutral-700/50">
                <span>{{$index + 1}}º - {{positionScore.score}}</span>
              </div>
            } @empty {
              <span>No hay puntuaciones extra</span>
            }
          </div>
        </div>

        <div>
          <h3>Extra</h3>
          <div>
            @for (extraScore of championship!.scoreSystem?.extra; track $index) {
            <div class="p-3 bg-neutral-700/50">
              {{extraScore.score}}
            </div>
            } @empty {
              <span>No hay puntuaciones extra</span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-solid-button color="green" (click)="createChampionship()">
    Crear campeonato
  </app-solid-button>
</section>
