<div
  class="relative flex w-full max-w-[15rem] flex-col rounded-xl dark:bg-dark-background"
>
  <div class="p-4">
    <h5 class="text-xl font-semibold text-blue-gray-900">{{ league?.name }}</h5>
  </div>
  <nav class="flex flex-col gap-1 p-2">
    <span (click)="navigateInAdmin('members')" class="flex items-center w-full p-3 rounded-lg  hover:text-dark-main">
        Usuarios
    </span>

    <span (click)="navigateInAdmin('pending')" class="flex items-center w-full p-3 rounded-lg  hover:text-dark-main">
         Solicitudes de entrada
    </span>

    <span class="flex items-center w-full p-3 rounded-lg hover:text-dark-main">
         Borrar liga
    </span>
  </nav>
</div>

