<section>
  <h1>Sistema de puntuacion</h1>

  <div class="flex flex-col justify-center items-center gap-3">
    <form
      [ngClass]="{'grid-cols-2': gridSize % 2 === 0, 'grid-cols-3': gridSize % 3 === 0}"
      class="grid overflow-auto h-sm gap-3 items-center bg-neutral-800/50 p-3 rounded-md"
    >
      @for (score of scores.controls; track $index) {
        <div class="relative bg-neutral-700/70 p-3">
          <span class="absolute left-0 top-0 pl-1 text-sm">{{$index + 1}}</span>
          <app-custom-text-input placeholder="0" [debug]="true" [showLabel]="false" [formControlName]="$index.toString()" inputClass="w-[3.5rem]" maxLength="3" />
        </div>
      }
    </form>

    <app-custom-button>Guardar puntuación</app-custom-button>
  </div>
</section>
