@if (league) {
  <section class="col-span-12 h-full w-full flex-1">
    <section class="w-full flex gap-3">
      <div class="mx-10 flex flex-col w-full gap-3">

        <div class="w-full p-3 dark:bg-dark-background rounded-2xl flex gap-3">
          <app-image type="Rounded" [ngStyle]="[{'background': league.color}]" styleClass="border-2 size-[10rem]" [url]="league.picUrl!"/>
          <div>
            <p [ngStyle]="[{'color': league.color}]" class=" text-2xl font-bold">{{league.name}}</p>
            <p class="text-gray-900 text-lg dark:text-gray-300">{{league.description}}</p>
          </div>
        </div>

        <app-league-navbar
          [league]="league"
          class="w-full"
        />

        <div class="mx-[20%] overflow-y-auto">
          <router-outlet></router-outlet>
        </div>
      </div>

      <app-league-members-bar [leagueId]="league.id"/>
    </section>
</section>
}
