<div
  [ngClass]="[
   'rounded-xl w-3xl p-3 bg-light-background dark:bg-dark-background  min-w-2xl',
   styleClass,
 ]"
>
  @if (selected) {
    <div class="flex flex-col h-48 gap-3">
      <div class="flex flex-col gap-3 justify-center items-center">
        <h2 class="text-2xl ">¿Quieres seleccionar la categoría?</h2>
        <div class="flex flex-col gap-3 justify-center items-center">
          <span>(Logo)</span>
          <span>{{selected.name}}</span>
        </div>
      </div>

      @if (showButtons) {
        <div class="flex  justify-center gap-3">
          <app-solid-button *ngIf="showConfirm" (click)="confirm()" type="Soft" color="red" border="Rounded">
            <span>Aceptar</span>
          </app-solid-button>
          <app-solid-button *ngIf="showCancel" type="Soft" border="Rounded" color="purple" (click)="cancel()">
            <span>Aceptar</span>
          </app-solid-button>
        </div>
      }
    </div>
  } @else {
    <ul
      class="text-dark-text-inactive w-full  min-w-2xl h-48 flex-col justify-center items-center"
    >
      @if (categories$ | async; as res) {
        <div class="overflow-y-auto h-44 py-3">
          @for (simulator of res.data; track $index) {
            <span
              (click)="selectItem(simulator)"
              class="flex p-3 rounded-xl transition-all cursor-pointer gap-3 items-center w-full min-w-full hover:bg-neutral-200 dark:hover:bg-dark-hover dark:hover:text-dark-main"
            >
            {{ simulator.name }}
          </span>
          } @empty {
            <p class="dark:text-dark-text">No se han encontrado resultados.</p>
          }
        </div>
      } @else {
        <div class="h-full">
          <app-custom-empty
            title="Es obligatorio elegir una categoria"
            description="Introduce un nombre."
          />
        </div>
      }
    </ul>

    <app-custom-search-input
      class="join-item"
      (onSearch)="search($event)"
      placeholder="Ej. Assetto Corsa"
    />
  }
</div>
