<div
 [ngClass]="[
   'rounded-xl w-3xl p-3 bg-light-background dark:bg-dark-background  min-w-2xl',
   styleClass,
 ]"
>
  @if (selected) {
    <div class="flex flex-col gap-3">
      @if (showButtons) {
        <div class="flex justify-center gap-3">
          <app-custom-button *ngIf="showConfirm" (click)="confirm()" color="red">
            Aceptar
          </app-custom-button>
          <app-custom-button *ngIf="showCancel" color="purple" (click)="cancel()">
            Cancelar
          </app-custom-button>
        </div>
      }
    </div>
  } @else {
    <ul
      class="text-neutral-800 w-full  min-w-2xl h-48 flex-col justify-center items-center"
    >
      @if (categories$ | async; as res) {
        <div class="overflow-y-auto h-44 py-3">
          @for (simulator of res.data; track $index) {
            <span
              (click)="selectItem(simulator)"
              class="flex p-3 rounded-xl transition-all cursor-pointer gap-3 items-center w-full min-w-full hover:bg-neutral-200 dark:hover:bg-neutral-700"
            >
            {{ simulator.name }}
          </span>
          } @empty {
            <p class="dark:text-dark-text">No se han encontrado resultados.</p>
          }
        </div>
      } @else {
        <div class="h-full">
          <app-custom-empty
            title="Es obligatorio elegir una categoria"
            description="Introduce un nombre."
          />
        </div>
      }
    </ul>

    <app-custom-search-input
      class="join-item"
      (onSearch)="search($event)"
      placeholder="Ej. Assetto Corsa"
    />
  }
</div>
