<div class="flex flex-col h-full justify-center p-3 items-center">
  @if (showTitle) {
    <h1 class="dark:text-dark-title font-medium text-2xl text-center pb-3">
      {{ title }}
    </h1>
  }

  @if (showDescription) {
    <p class="text-neutral-600 dark:text-dark-text text-center">
      {{ description }}
    </p>
  }

  <ng-content/>

  @if (buttonTheme && buttonText) {
    <div class="flex flex-col justify-center">
      <app-solid-button
        (click)="onButtonClick()"
      >
        {{ buttonText }}
      </app-solid-button>
    </div>
  }
</div>

<!--[color]="buttonTheme"-->
