<nav class=" font-sans justify-between items-center rounded-lg flex gap-9 text-center w-full p-3 h-[5rem] bg-none">
  <div class="flex ml-[0.3rem] gap-3 justify-start items-start">
    <span class="text-2xl no-underline text-dark-text-inactive hover:text-dark-main">SLM</span>
  </div>

  <div class="flex gap-12 dark:text-white">
    <div (click)="globalHelper.navigateFromRoot('leagues')" class="text-lg no-underline transition-all hover:text-dark-main select-none cursor-pointer">Mis ligas</div>
    <div (click)="globalHelper.navigateFromRoot('leagues')" class="text-lg no-underline transition-all cursor-pointer select-none hover:text-dark-main">Buscar ligas</div>
    <div (click)="globalHelper.navigateFromRoot('invites')" class="text-lg no-underline transition-all cursor-pointer select-none hover:text-dark-main">Invitaciones</div>
    <div (click)="globalHelper.navigateFromRoot('presets')" class="text-lg no-underline transition-all cursor-pointer select-none hover:text-dark-main">Comunidad</div>
    <div (click)="globalHelper.navigateFromRoot('strategy')" class="text-lg no-underline transition-all cursor-pointer select-none hover:text-dark-main">Estrategias</div>
    <div (click)="globalHelper.navigateFromRoot(getProfileRoute())" class="text-lg no-underline transition-all cursor-pointer select-none hover:text-dark-main">Perfil</div>
  </div>
  <div class="text-lg dark:text-white ml-6 cursor-pointer select-none dark:hover:text-dark-main transition-all" (click)="logout()">Cerrar Sesión</div>

</nav>
