<nav class="bg-dark-background mb-[1rem] font-sans justify-center items-center rounded-lg flex flex-col text-center w-full p-3 h-[5rem] bg-none">
  <div class="flex gap-3 items-start">
    <span class="text-2xl no-underline text-dark-text-inactive hover:text-dark-main">SLM</span>
  </div>

  <div class="flex gap-3 dark:text-white">
    <div (click)="globalHelper.navigateFromRoot('leagues')" class="text-lg no-underline  hover:text-dark-main select-none cursor-pointer">Mis ligas</div>
    <div (click)="globalHelper.navigateFromRoot('leagues')" class="text-lg no-underline cursor-pointer select-none hover:text-dark-main">Buscar ligas</div>
    <div (click)="globalHelper.navigateFromRoot('invites')" class="text-lg no-underline  cursor-pointer select-none hover:text-dark-main">Invitaciones</div>
    <div (click)="globalHelper.navigateFromRoot('presets')" class="text-lg no-underline  cursor-pointer select-none hover:text-dark-main">Comunidad</div>
    <div (click)="globalHelper.navigateFromRoot('strategy')" class="text-lg no-underline cursor-pointer select-none hover:text-dark-main">Estrategias</div>
    <div (click)="globalHelper.navigateFromRoot(getProfileRoute())" class="text-lg no-underline  cursor-pointer select-none hover:text-dark-main">Perfil</div>
    <div class="text-lg dark:text-white cursor-pointer select-none dark:hover:text-dark-main" (click)="logout()">Cerrar Sesión</div>
  </div>
</nav>
