<section class="flex flex-col gap-3">
  <form class="p-3 grid gap-2 grid-cols-3 rounded-xl dark:bg-neutral-800/70"
        #form="ngForm" [formGroup]="championshipForm">

    <!-- Nombre -->
    <app-custom-text-input
      label="Nombre"
      formControlName="name"
    />

    <!-- Descripción -->
    <app-custom-text-input
      label="Descripción"
      formControlName="description"
      class="col-span-2"
    />
  </form>

  <div class="flex justify-center gap-3 rounded-xl dark:bg-neutral-800/70">

    <!-- Buscar categoria -->
    <div>
      <app-category-search-form
        styleClass="border-none dark:border-none"
        (onConfirm)="confirmCategory($event)"
      />

      <div class="flex flex-col">
        @for (category of selectedCategories; track $index) {
          <app-custom-badge
            colorTheme="red"
            [text]="category.name!"
          />
        }
      </div>
    </div>

    <!-- Buscar simuladores -->
    <app-sim-search-form
      [selected]="this.championship?.simulator"
      (onConfirm)="selectedSimulator = $event"
      [showConfirm]="false"
    />
  </div>

  <!-- Modal para la creación de rondas -->
  <span>Rondas del campeonato</span>
  <div class="border rounded-lg p-3 border-neutral">
    <div class="flex gap-4 overflow-x-scroll">
      @for (round of raceCalendar; track $index) {
        <div title="{{round.name}}" class="card bg-base-200 w-md p-3">
          <div class="card-title flex items-center justify-between">
          <span class="text-sm dark:text-gray-400">
            {{ $index + 1 }}
          </span>
            <span class="text-gray-400">{{ round.layout?.parent?.country }}</span>
            <hr>
          </div>
          <div class="card-body flex justify-between gap-3">
            <h5 class="mb-2 text-gray-200 text-xl font-semibold">
              {{ (round.name!.length > 20) ? ((round.name | slice:0:20) + "...") : round.name }}
            </h5>
          </div>
        </div>
      } @empty {
        <p>Se debe añadir una carrera obligatoriamente.</p>
      }
    </div>


    <button (click)="addingRace = true" class="btn btn-neutral">
      Añadir carrera
    </button>
  </div>

  <button class="btn" (click)="goToNextPage()">Siguiente</button>
</section>

<!--- Modales --->

<!-- Modal para crear rondas -->
<p-dialog contentStyleClass="bg-base-100" showHeader="false" styleClass="flex gap-1 bg-base-100"
          [(visible)]="addingRace" [modal]="true"
          [dismissableMask]="true">
  <div [formGroup]="championshipRoundForm">
    <div>
      <div class="card dark:bg-base-100 image-full w-full my-3">
        <div class="card-body">
          <div class="card-title"></div>
          @if (roundLayout.value) {
            <div class="flex gap-1">
              <span>{{ roundName.value || (getRoundLayoutName()) || "Nombre" }}</span>
              <p>{{ roundLayout.value.parent?.country }}</p>
            </div>
          } @else {
            <p>No se ha indicado ningun circuito</p>
          }
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class="mb-3 col-span-2">
          <label
            class="block mb-1 text-sm font-medium">Nombre <span class="text-gray-700">(Opcional)</span>
          </label> <!-- Sacar label a componente aparte -->

          <!-- Sacar clases de input a enum aparte -->
          <input formControlName="name" type="text"
                 class="input input-bordered w-full outline-none">
          @if (form.touched && form.invalid) {
            <label *ngIf="description.errors"
                   class="text-sm text-red-600 dark:text-red-400">
              El nombre no es valido.
            </label>
          }
        </div>
      </div>
      <!-- TODO: Extraer lista a componente generico -->
      <label
        class="block mb-1 text-sm font-medium">Circuito
      </label>
      <div class="border min-w-full border-neutral rounded-md p-3 join-vertical">
        <app-custom-search-input class="join-item" (onSearch)="searchTrackLayouts($event)"
                                 placeholder="Introduce el nombre de un circuito"/>
        <ul
          class="text-gray-200 overflow-y-auto h-48 flex-col justify-center w-full items-center p-3"
        >
          @if (tracks && tracks.length > 0) {
            @for (track of tracks; track $index) {
              <span class="text-gray-600">{{ track.name }}</span>
              @for (layout of track.layouts; track $index) {
                <div (click)="selectLayout(track, layout)"
                     class="flex p-3 rounded-xl transition-all cursor-pointer gap-3 items-center w-full hover:bg-neutral">
                  {{ track.name }} - {{ layout.name }}
                </div>
              }
            } @empty {
              <p>No se han encontrado resultados.</p>
            }
          } @else {
            <div class="flex flex-col justify-center gap-1 items-center text-neutral">
              <i class="fa-solid fa-magnifying-glass fa-5x "></i>
              <span class="font-bold">Introduce alguna busqueda</span>
            </div>
          }
        </ul>
      </div>
    </div>
    <div formGroupName="length" class="flex gap-3 mt-3">
      <!-- TODO: Sacar a componente aparte -->

      <app-custom-text-input
        placeholder="La duración debe ser un num."
        [showLabel]="false"
        formControlName="value"
      />

      <app-custom-select
        [options]="durationTypeList"
        placeholder="Duración"
        keyProp="type"
        showingProp="name"
        formControlName="type"
      />

    </div>

    <!-- Botones -->
    <div class="flex gap-1 mt-3">
      <app-custom-button
        color="indigo"
        (click)="saveRoundAndContinue()"
      >
        Guardar y crear otra ronda
      </app-custom-button>

      <app-custom-button
        color="indigo"
        (click)="saveRoundAndClose()"
      >
        Guardar y cerrar
      </app-custom-button>
      <app-custom-button
        color="gray"
        (click)="addingRace = false"
      >
        Cancelar
      </app-custom-button>
    </div>
  </div>
</p-dialog>
