<section class="flex overflow-y-auto flex-col gap-9 w-full">
  <h2 class="text-xl font-medium">Información básica</h2>

  <!--  flex flex-col w-[100%] mx-3 justify-between gap-3-->
  <form
    class="p-3 col-span-6 rounded-xl border-1 dark:bg-dark-background"
    #form="ngForm" [formGroup]="championshipForm"
  >

    <div class="grid grid-cols-3 gap-9">
      <!-- Nombre -->
      <app-custom-text-input
        label="Nombre"
        formControlName="name"
      />

      <!-- Descripción -->
      <app-custom-text-input
        label="Descripción"
        formControlName="description"
        class="col-span-2 placeholder:text-green-400"
      />
    </div>
  </form>

  <div class="col-span-6 flex flex-col grow justify-center gap-9 min-w-full w-full rounded-xl">

    <!-- Buscar categoria -->
    <div class="dark:bg-dark-background p-3 rounded-2xl">
      <div class="flex gap-3 justify-start items-center">
        <div>
          <app-solid-button (click)="showAddCategory()" styleClass="size-[1rem] rounded-md" color="indigo">
            +
          </app-solid-button>
        </div>
        @for (category of selectedCategories.values(); track $index) {
          <app-custom-badge
            colorTheme="red"
            textProp="name"
            keyProp="id"
            (delete)="deleteCategory($event)"
            [object]="category"
          />
        } @empty {
          <span class="text-dark-text-inactive">No se ha seleccionado ninguna categoria. Pulsa "+" para añadir</span>
        }

      </div>
    </div>

    <!-- Buscar simuladores -->
    <app-sim-search-form
      [selected]="this.championship?.simulator"
      (onConfirm)="selectedSimulator = $event"
      [showConfirm]="false"
    />
  </div>

  <div>
    <span>Rondas del campeonato</span>
    <div class="border flex flex-col justify-center border-dark-main h-full rounded-2xl p-3">
      <div class="flex gap-4 overflow-x-auto">
        @for (round of raceCalendar; track $index) {
          <div title="{{round.name}}" class="card bg-base-200 w-md p-3">
            <div class="card-title flex items-center justify-between">
                <span class="text-sm dark:text-gray-400">
                  {{ $index + 1 }}
                </span>
              <span class="text-gray-400">{{ round.layout?.parent?.country }}</span>
              <hr>
            </div>
            <div class="card-body flex justify-between gap-3">
              @if (round.name) {
                <h5 class="mb-2 text-gray-200 text-xl font-semibold">
                  {{ (round.name!.length > 20) ? ((round.name | slice:0:20) + "...") : round.name }}
                </h5>
              } @else {
                <h5 class="mb-2 text-gray-200 text-xl font-semibold">
                  {{ (round.layout?.parent?.name!.length > 20) ? ((round.layout?.parent?.name | slice:0:20) + "...") : round.layout!.parent!.name }}
                </h5>
              }
            </div>
          </div>
        } @empty {
          <div class="w-full min-w-full flex flex-col justify-center items-center">
            <i class=" fa-solid text-[10rem] text-dark-text-inactive fa-circle-xmark"></i>

            <h2 class="text-center text-dark-text-inactive text-xl font-semibold leading-loose pb-2">
              No hay ningun campeonato creado</h2>
          </div>
        }
      </div>

      <app-solid-button
        (click)="showAddRace()"
        border="Rounded"
        color="red"
        type="Soft"
        content="soft"
      ><span content-soft>Añadir carrera</span>
      </app-solid-button>
    </div>
  </div>

  <button class="btn" (click)="goToNextPage()">Siguiente</button>
</section>

<!--- Modales --->

<!-- Modal para crear rondas -->
<p-dialog contentStyleClass="dark:bg-dark-mainbg" showHeader="false" styleClass="flex gap-1 dark:bg-dark-background"
          [(visible)]="addingRace" [modal]="true"
          [dismissableMask]="true">
  <div [formGroup]="championshipRoundForm">
    <div>
      <div>
        <div class="card dark:bg-dark-background image-full w-full my-3">
          <div class="card-body">
            <div class="card-title"></div>
            @if (roundLayout.value) {
              <div class="flex gap-1">
                <span>{{ roundName.value || (getRoundLayoutName()) || "Nombre" }}</span>
                <p>{{ roundLayout.value.parent?.country }}</p>
              </div>
            } @else {
              <p>No se ha indicado ningun circuito</p>
            }
          </div>
        </div>
      </div>
      <div>
        <div>
          <div class="mb-3 col-span-2">

            <app-custom-text-input
              styleClass="dark:bg-dark-background-deepest"
              formControlName="name"
              placeholder="Haz click para cambiar el nombre (opcional)"
              label="Nombre"
            />
          </div>
        </div>
      </div>

      <div class="min-w-full w-full items-center rounded-md p-3 bg-dark-background-deepest">
        <app-custom-search-input
          [showPlaceholder]="true"
          styleClass="mb-2"
          (onSearch)="searchTrackLayouts($event)"
          placeholder="Introduce el nombre de un circuito"
        />
        <ul
          class="text-gray-200 m-3 flex flex-col justify-center overflow-y-auto h-48 w-full items-center p-3"
        >
          @if (tracks && tracks.length > 0) {
            @for (track of tracks; track $index) {
              <span class="text-dark-text-inactive-dark text-sm">{{ track.name }}</span>
              @for (layout of track.layouts; track $index) {
                <div (click)="selectLayout(layout, track)"
                     class="flex text-base text-dark-text-inactive p-3 rounded-xl transition-all cursor-pointer gap-3 items-center w-full hover:bg-neutral">
                  {{ track.name }} - {{ layout.name }}
                </div>
              }
            } @empty {
              <p>No se han encontrado resultados.</p>
            }
          } @else {
            <div class="flex flex-col justify-center gap-1 items-center">
              <i class="fa-solid fa-magnifying-glass fa-5x text-dark-text-inactive"></i>
              <span class="text-dark-text">No se han encontrado circuitos</span>
            </div>
          }
        </ul>
      </div>
    </div>

    <div formGroupName="length" class="flex gap-3 mt-3">
      <!-- TODO: Sacar a componente aparte -->

      <app-custom-text-input
        placeholder="La duración debe ser un num."
        styleClass="dark:bg-dark-background-deepest"
        [showLabel]="false"
        formControlName="value"
      />

      <app-custom-select
        [options]="durationTypeList"
        placeholder="Duración"
        keyProp="type"
        showingProp="name"
        formControlName="type"
      />

    </div>

    <!-- Botones -->
    <div class="flex gap-1 mt-3">
      <app-solid-button
        type="Soft"
        border="Rounded"
        color="red"
        (click)="saveRoundAndContinue()"
      >
        Guardar y crear otra ronda
      </app-solid-button>

      <app-solid-button
        type="Soft"
        border="Rounded"
        color="red"
        (click)="saveRoundAndClose()">
        <span content-soft>Guardar y cerrar</span>
      </app-solid-button>

      <app-solid-button
        type="Soft"
        border="Rounded"
        color="red"
        (click)="addingRace = false">
        <span content-soft>Cancelar</span>
      </app-solid-button>
    </div>
  </div>
</p-dialog>

<p-dialog
  contentStyleClass="dark:bg-dark-mainbg backdrop-blur-sm"
  showHeader="false"
  styleClass="flex gap-1 dark:bg-dark-background"
  [(visible)]="addingCategory" [modal]="true"
  [dismissableMask]="true">
  <ng-template pTemplate="headless">
    <div>
      <app-category-search-form
        styleClass="border-none dark:border-none"
        (onConfirm)="confirmCategory($event)"
      />
    </div>
  </ng-template>

</p-dialog>
