<section style="background-image: url('https://i.imgur.com/z9w1jej.jpeg');" class="rounded-xl bg-cover bg-center grid h-full grid-cols-2 gap-12">
  <div class="flex h-full px-10 flex-col justify-center items-start">
    <div class="text-6xl font-bold mb-6">
      <h1 class="text-dark-main mb-1">Simracing</h1>
      <h1 class="text-dark-textPurple">League Manager</h1>
    </div>
    <p class="text-xl font-sans text-dark-text">
      Dentro de SLM, podrás sumergirte en nuevas comunidades de simracing de una forma más dinámica y conectada. Únete a ligas ya existentes o
      crea tu propia liga para compartir la emoción de la competición. Aquí, la pasión por las carreras no tiene límites.
    </p>
  </div>

  <div class="flex h-full px-10 flex-col justify-center items-center">
    <app-soft-button (click)="goToLogin()" color="pink">
      Iniciar sesión
    </app-soft-button>
  </div>
</section>
