<div>
  @if (showLabel) {
    <label class="block text-sm font-medium mb-2 dark:text-white">{{label}}<span *ngIf="this.required === true">*</span></label>
  }

  <input
    #input

    [type]="type"
    [maxlength]="maxLength!"
    [value]="value"
    [disabled]="disabled"
    [required]="required"
    [readonly]="readonly"
    [autocomplete]="autocomplete"
    [placeholder]="managePlaceholder()"
    [(ngModel)]="value"
    (ngModelChange)="writeValue($event)"
    [ngClass]="[
      'py-3 px-4 block border-none rounded-lg text-sm disabled:opacity-50 outline-none transition-all dark:text-dark-main focus:dark:placeholder-dark-text-inactive disabled:pointer-events-none focus:ring-1 ring-dark-main outline-offset-0 dark:bg-dark-background-deepest dark:placeholder-dark-text-inactive  w-full',
      styleClass
    ]"
    (keyup)="onInputKeyUp($event)"
    (keydown)="onInputKeyDown($event)"
  >
</div>
