<section class="grid grid-cols-2 h-48">

  <!-- Formulario del equipo seleccionado -->
  <form [formGroup]="selectedTeam.controls"  class="flex gap-3 h-md items-center">

    <!-- Formulario del los asientos del equipo -->
    <div class="flex relative flex-col bg-zinc-800 w-sm rounded-md gap-3 p-3">
      <span class="absolute right-0 top-0 py-1 px-3 text-sm">{{selectedTeam.index + 1}}</span>
      <app-custom-text-input
        class="w-sm"
        (inputChange)="onChangeName($event)"
        formControlName="name"
        label="Nombre"
      />

      <div class="flex gap-16">
        <div>
          <label class="block text-sm font-medium mb-2 w-sm dark:text-white">Color</label>
          <ngx-colors ngx-colors-trigger class="dark:bg-stone-600" formControlName="hexColor"></ngx-colors>
        </div>

        <div>
          <app-custom-text-input
            inputClass="w-[3rem]"
            maxLength="1"
            formControlName="carEntries"
            label="Entradas del equipo"
          />
        </div>
      </div>

      <button type="button" (click)="saveTeam(this.selectedTeam.index)" class="w-sm py-3 px-4 items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-400 dark:bg-blue-800/30 dark:hover:bg-blue-800/20 dark:focus:bg-blue-800/20">
        Guardar cambios
      </button>
    </div>

  </form>

  <!-- Lista de equipos creados -->
  <div class="flex flex-col gap-3 items-center p-3 justify-center rounded-md bg-neutral-800">
    <div class="grid grid-cols-3 overflow-y-auto h-40 w-sm gap-3">
      @for (team of teams!; track $index) {
        @if (this.selectedTeam.index === $index) {
          <div class="bg-neutral-600/70 flex gap-3 justify-center items-center p-3 h-20 rounded-md">
            <span>{{team.name}}</span>
            <div class="inline-flex items-center">
              <span class="size-4 border-neutral-400 inline-block rounded-full me-2" [ngStyle]="{'background-color': team.hexColor}"></span>
            </div>
          </div>
        } @else {
          <div (click)="selectTeam($index)" class="bg-neutral-700/50 flex gap-3 justify-center items-center p-3 h-20 rounded-md cursor-pointer hover:bg-neutral-600">
            <span>{{team.name}}</span>
            <div class="inline-flex items-center">
              <span class="size-4 border-neutral-400 inline-block rounded-full me-2" [ngStyle]="{'background-color': team.hexColor}"></span>
            </div>
          </div>
        }
      }
    </div>

    <!-- Boton para crear equipo -->
    <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-teal-100 text-teal-800 hover:bg-teal-200 focus:outline-none focus:bg-teal-200 disabled:opacity-50 disabled:pointer-events-none dark:text-teal-500 dark:bg-teal-800/30 dark:hover:bg-teal-800/20 dark:focus:bg-teal-800/20" (click)="addTeam()">
      Añadir equipo
    </button>


    <!-- Boton para crear equipo -->
    <button
    type="button"
    class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-green-100 text-green-800 hover:bg-green-200 focus:outline-none focus:bg-green-200 disabled:opacity-50 disabled:pointer-events-none dark:text-green-500 dark:bg-green-800/30 dark:hover:bg-green-800/20 dark:focus:bg-green-800/20"
    (click)="saveTeams()">
      Guardar equipos
    </button>
  </div>
</section>



